# <b>COVID-19 Visualization (2020)</b>

## 1. How it all started -- Coronavirus Pandemic
<div class="image">
  <img style="float: top; margin:10px 0px 10px 0px; width:40%;" src="image_source/covid-19.jpg">
</div>
<style>
.image{
  text-align: center;
}
</style>

<p>COVID-19 coronavirus was firstly reported in China's Wuhan province in December 2019. The World Health Organization (WHO) declared the COVID-19 outbreak a pandemic on March 11, 2020. In the months since, there have been large outbreaks in Iran, South Korea, and Italy. </p>

<p>
This notebook will visualize the spread of COVID-19 across the globe, taking account to before social-distancing, quarantines lockdowns, and after.
</p>

<p>
Big thanks to organizations around the world, this notebook is only possible because the data collected by them. Notably, the Johns Hopkins University Center for Systems Science and Engineering created a <a href="https://github.com/RamiKrispin/coronavirus">publicly available data repository</a> to consolidate this data from sources like the WHO, the Centers for Disease Control and Prevention (CDC), and the Ministry of Health from multiple countries.<em> Please note that the COVID-19 information and data are still constantly being updated. This project's data is obtained on March 17, 2020, therefore it should not be regarded the most up-to-date data available.</em>
</p>

In [1]:
# Import libraries required: 
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns 

# Read datasets/confirmed_cases_worldwide.csv into confirmed_cases_worldwide
confirmed_cases_worldwide = pd.read_csv("datasets/confirmed_cases_worldwide.csv")

# See the result
confirmed_cases_worldwide

          date  cum_cases
0   2020-01-22        555
1   2020-01-23        653
2   2020-01-24        941
3   2020-01-25       1434
4   2020-01-26       2118
5   2020-01-27       2927
6   2020-01-28       5578
7   2020-01-29       6166
8   2020-01-30       8234
9   2020-01-31       9927
10  2020-02-01      12038
11  2020-02-02      16787
12  2020-02-03      19881
13  2020-02-04      23892
14  2020-02-05      27635
15  2020-02-06      30817
16  2020-02-07      34391
17  2020-02-08      37120
18  2020-02-09      40150
19  2020-02-10      42762
20  2020-02-11      44802
21  2020-02-12      45221
22  2020-02-13      60368
23  2020-02-14      66885
24  2020-02-15      69030
25  2020-02-16      71224
26  2020-02-17      73258
27  2020-02-18      75136
28  2020-02-19      75639
29  2020-02-20      76197
30  2020-02-21      76823
31  2020-02-22      78579
32  2020-02-23      78965
33  2020-02-24      79568
34  2020-02-25      80413
35  2020-02-26      81395
36  2020-02-27      82754
37  2020-02-28      84120
38  2020-02-29      86011
39  2020-03-01      88369
40  2020-03-02      90306
41  2020-03-03      92840
42  2020-03-04      95120
43  2020-03-05      97882
44  2020-03-06     101784
45  2020-03-07     105821
46  2020-03-08     109795
47  2020-03-09     113561
48  2020-03-10     118592
49  2020-03-11     125865
50  2020-03-12     128343
51  2020-03-13     145193
52  2020-03-14     156097
53  2020-03-15     167449
54  2020-03-16     181531
55  2020-03-17     197146